<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>629723110807-j1ivcn38c7575lc9pg87h1spv6p6cklf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629723110807-j1ivcn38c7575lc9pg87h1spv6p6cklf</string>
	<key>API_KEY</key>
	<string>AIzaSyBQIQe7vf-firs5qL6DjgK1f-Sh8CG68x8</string>
	<key>GCM_SENDER_ID</key>
	<string>629723110807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.137.sjsu.Login</string>
	<key>PROJECT_ID</key>
	<string>sammy-party</string>
	<key>STORAGE_BUCKET</key>
	<string>sammy-party.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629723110807:ios:600e96e3cc3b5e76</string>
	<key>DATABASE_URL</key>
	<string>https://sammy-party.firebaseio.com</string>
</dict>
</plist>